.App {
  text-align: center;
}

.question-card {
  /* margini sus si jos */
  margin: 40px auto; 

  /* Dimensiuni */
  width: 85%; 
  height: auto;

  /* Vizual */
  background-color: #404E4D;
  padding: 90px;
  border-radius: 20px;
  color: rgb(252, 243, 243);

  /*  padding stanga si dreapta */
  padding: 0 64px;
}

ul {
  list-style: none;
}

li {
  margin-top: 30px;
  background-color: #63595C;
  padding: 20px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

.question-text {
  color: rgb(243, 243, 247);
  font-size: 24px;
}



.final-results {
  margin: 0 auto;

  /* Dimensiuni */
  width: 40%; 
  height: auto;
  margin-top: 64px;

  /* Vizual */
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: #306769; 
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}

.nav-buttons {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.nav-buttons button {
  flex: 1;
  margin: 5px;
}

body {
  background-color: darkgray;
}






